<div class="container mt-5">
  <div class="row navbar-bottom">
    <div class="col-lg-6">
      <div class="card-booking">
        <h1 class="booking-card-title">Bookings for my Boats</h1>
          <% @incomingbooking.each do |booking| %>
            <div class="row justify-content-center">
              <div class="card-in-card-user text-center">
                <h4 class="date-of-booking"><strong>@<%= booking.user.username %></strong> wants to book <%= booking.boat.name %></h4>
                <p><%= booking.starting_date_time.strftime("%d/%m/%Y %H:%M") %> - <%= booking.ending_date_time.strftime("%d/%m/%Y %H:%M") %></p>

                <% if booking.status == "pending" %>
                <% elsif booking.status == "accepted" %>
                    <div class="d-flex align-items-center justify-content-center">
                      <h5>Current Status: </h5>
                      <h5 class="accepted-banner ml-3"> <%= booking.status.capitalize %></h5>
                    </div>
                <% else %>
                    <div class="d-flex align-items-center justify-content-center">
                      <h5>Current Status: </h5>
                      <h5 class="declined-banner ml-3"> <%= booking.status.capitalize %></h5>
                    </div>
                <% end %>

                  <% if booking.status == "pending" %>
                    <div class="row mt-1">
                      <div class="col-lg-6">
                        <%= button_to 'Accept', status_path(booking), method: :get, params: {status: 'accepted'}, class: "btn btn-success" %>
                      </div>
                      <div class="col-lg-6">
                        <%= button_to 'Decline', status_path(booking), method: :get, params: {status: 'declined'}, class: "btn btn-danger" %>
                      </div>
                    </div>
                  <% end %>

              </div>
            </div>
          <% end %>
      </div>
    </div>
      <div class="col-lg-6">
        <div class="card-booking">
          <h1 class="booking-card-title">My bookings for other Boats</h1>
            <% @externalbookingrequest.each do |booking| %>
              <div class="row justify-content-center">
                <div class="card-in-card-user text-center">
                  <h4 class="date-of-booking"><strong>You</strong> want to book <%= booking.boat.name %> from <%= booking.boat.user.username %></h4>
                  <p><%= booking.starting_date_time.strftime("%d/%m/%Y %H:%M") %> - <%= booking.ending_date_time.strftime("%d/%m/%Y %H:%M") %></p>
                <% if booking.status == "pending" %>
                    <div class="d-flex align-items-center justify-content-center">
                      <h5>Current Status: </h5>
                      <h5 class="pending-banner ml-3"> <%= booking.status.capitalize %></h5>
                <% elsif booking.status == "accepted" %>
                    <div class="d-flex align-items-center justify-content-center">
                      <h5>Current Status: </h5>
                      <h5 class="accepted-banner ml-3"> <%= booking.status.capitalize %></h5>
                    </div>
                <% else %>
                    <div class="d-flex align-items-center justify-content-center">
                      <h5>Current Status: </h5>
                      <h5 class="declined-banner ml-3"> <%= booking.status.capitalize %></h5>
                    </div>
                <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
  </div>
</div>
