<!-- SUB NAV BAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-index">
  <ul class="sub-nav-list">
    <li class="sub-nav-list-item">
      <p>FILTER BY </p>
    </li>
    <li class="sub-nav-list-item">
      <p>CATEGORY</p>
    </li>
    <li class="sub-nav-list-item">
      <p>PRICE</p>
    </li>
    <li class="sub-nav-list-item">
      <p>PERSON</p>
    </li>
  </ul>
</div>

  <div class="container mt-5">
    <% if params[:query].present? %>
      <% if @boats.count > 1 %>
        <p class="text-right"> <%= @boats.count %> results for "<%= params[:query] %>"</p>
      <% else %>
        <p class="text-right"> <%= @boats.count %> result for "<%= params[:query] %>"</p>
      <% end %>
    <% end %>

  <div class="row border-top-cards">
    <% @boats.each do |boat| %>
    <div class="col-sm-4">
      <div class="card-boat">
        <%= link_to boat_path(boat) do %>
        <% if (boat.photos).attached? %>
          <%= cl_image_tag boat.photos.first.key, height: 300, width: 400, crop: :fill, class: "card-image" %>
        <% else %>
          <%= cl_image_tag 'download-2_buhn0o', height: 300, width: 400, crop: :fill, class: "card-image" %>
        <% end %>

        <% if policy(boat).destroy? %>
          <li class="card-delete-boat"> <%= link_to boat_path(boat), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt ml-2 white-trash"></i>
          <% end %></li>
        <% end %>

        <div class="card-boat-infos">

          <div class="text-left">
            <h2><%= boat.name %></h2>
            <p class="card-boat-description"><%= boat.description %></p>
          </div >

          <div class="text-right">
            <h2 class="card-boat-pricing"><%= boat.price %> € / Day </h2>
            <%= cl_image_tag("AvatarTest_azb3ed", class: "card-boat-user avatar-bordered") %>
          </div>
          </div>

        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>




