
<div class="title-show mt-5 ml-5">
  <h1 class="title"><%= @boat.name %></h1>
  <%= link_to "Back to Offers", boats_path %>
</div>

<%= link_to 'Book here', new_boat_booking_path(@boat)  %>
<p>The above link will have to redicrect to the new_booking_path eventually</p>

<div>
  <div class="container text-left mt-5">
    <p> Rating: ⭐⭐⭐, <%= @boat.location %> </p>
    <img class="col-md-4" src="https://source.unsplash.com/random/kayak" alt="Kayak picture">
    <p class="mt-3"> Price: <%= @boat.price %>€</p>
    <p> Description: <%= @boat.description %></p>
    <%= link_to 'Book here', boats_path  %>
    <p>link should redirect to new_booking_path eventually</p>
  </div>
</div>


